= render 'navigation', current_action: 'index'
.col-md-12
  .box
    %table.table.table-hover
      %tr.table-head
        %th Titel
        %th
      %tr
        - collection.each do |note|
          %td.note-title= note.title
          %td.pull-right
            = link_to [current_user, note] do
              %span.glyphicon.glyphicon-eye-open
            = link_to edit_user_note_path(current_user, note) do
              %span.glyphicon.glyphicon-wrench
            = link_to [current_user, note], method: :delete do
              %span.glyphicon.glyphicon-trash
