%h4 Notizen

= render 'navigation', current_action: 'show'
.col-md-12
  .box
    %table.table.table-hover
      %tr.table-head
        %th= resource.title
        %th.pull-right= "erstellt am #{resource.created_at}"
      %tr
        %td
          = resource.content
