.box
  = form_for [current_user, resource], :html => { class: 'form-horizontal', role: 'form' } do |f|
    .form-group
      %label.form-label Vertragspartner:
      = f.text_field :partner
    .form-group
      %label.form-label Bezeichnung:
      = f.text_field :title
    .form-group
      %label.form-label Beginn:
      = f.date_select :started_at
    .form-group
      %label.form-label
        Ende:
      = f.date_select :ended_at, { include_blank: true, default: nil }
      %small
        %strong (nur wenn befristet)
    .form-group
      %label.form-label Kosten:
      = f.text_field :costs
      = " € / "
      = f.select :cost_interval, options_for_select([[nil], ["Jahr"],["Monat"],["Woche"], ["Tag"]])


    %hr
    .form-group
      %label.form-label Details:
      = f.text_area :description

    %center
      = f.submit 'Speichern', class: 'btn btn-primary form-submit'
