%h4 Verträge

= render 'navigation', current_action: 'index'
.col-md-8
  .box
    %table.table.table-hover
      %tr.table-head
        %th Vertragspartner
        %th Bezeichnung
        %th Ende
        %th Kosten
        %th Tags
        %th
        %th
      - collection.each do |contract|
        %tr
          %td= contract.partner
          %td= contract.title
          %td= contract.try(:ended_at).try(:strftime, "%b %Y")
          %td= "#{contract.costs} #{contract.cost_interval.present? ? "/" + contract.cost_interval : "" }"
          %td
          %td
          %td
            = link_to [current_user, contract] do
              %span.glyphicon.glyphicon-eye-open
            = link_to edit_user_contract_path(contract, current_user) do
              %span.glyphicon.glyphicon-wrench
            = link_to [current_user, contract], method: :delete do
              %span.glyphicon.glyphicon-trash

