%nav.navbar.navbar-default{role: "navigation"}
  / Brand and toggle get grouped for better mobile display
  .navbar-header
    %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", type: "button"}
      %span.sr-only Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    %div.navbar-brand
      = image_tag("droid_head.png", { height: 40 })
  - if user_signed_in?
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li.navlink
          = link_to 'Home', user_dashboard_path(current_user)
        %li.navlink
          = link_to 'Verträge', user_contracts_path(current_user)
        %li.navline
          = link_to 'Termine', "#"
        %li.navlink
          = link_to 'Tags', "#"
        %li.navlink
          = link_to 'Notizbuch', user_notes_path(current_user)
      %ul.nav.navbar-nav.navbar-right
        %form.navbar-form.navbar-left.search-form{role: "search"}
          .form-group
            %input.form-control{placeholder: "Search", type: "text"}/
          %button.btn.btn-default{type: "submit"}
            %span.glyphicon.glyphicon-search
        %li
          = link_to 'Logout', destroy_user_session_path, method: :delete
  - else
    %div.nav-info
      Rs Threepio
