!!!
%html
  %head
    %title Stamban
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    = render 'shared/navbar'
    .stamban-container
      .col-md-12
        = yield
    .col-md-12
      %hr
      %center
        © Robin Neumann | 2013
